body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:946px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:511px;
}
#u64 {
  position:absolute;
  left:59px;
  top:122px;
  width:275px;
  height:511px;
}
#u65 {
  position:absolute;
  left:2px;
  top:248px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:143px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66 {
  position:absolute;
  left:59px;
  top:490px;
  width:275px;
  height:143px;
}
#u67 {
  position:absolute;
  left:2px;
  top:64px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:346px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68 {
  position:absolute;
  left:59px;
  top:144px;
  width:275px;
  height:346px;
}
#u69 {
  position:absolute;
  left:2px;
  top:165px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:36px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70 {
  position:absolute;
  left:59px;
  top:144px;
  width:275px;
  height:36px;
}
#u71 {
  position:absolute;
  left:2px;
  top:10px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  position:absolute;
  left:160px;
  top:151px;
  width:73px;
  height:18px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u74 {
  position:absolute;
  left:76px;
  top:153px;
  width:19px;
  height:16px;
}
#u75 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u76 {
  position:absolute;
  left:298px;
  top:152px;
  width:17px;
  height:17px;
}
#u77 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u78 {
  position:absolute;
  left:80px;
  top:581px;
  width:43px;
  height:13px;
  font-size:10px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u80 {
  position:absolute;
  left:162px;
  top:513px;
  width:70px;
  height:70px;
}
#u81 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u82 {
  position:absolute;
  left:294px;
  top:197px;
  width:25px;
  height:25px;
}
#u83 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u84 {
  position:absolute;
  left:185px;
  top:584px;
  width:22px;
  height:13px;
  font-size:10px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:59px;
}
#u86 {
  position:absolute;
  left:167px;
  top:518px;
  width:59px;
  height:59px;
}
#u87 {
  position:absolute;
  left:2px;
  top:22px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u88 {
  position:absolute;
  left:265px;
  top:542px;
  width:25px;
  height:25px;
}
#u89 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u90 {
  position:absolute;
  left:290px;
  top:542px;
  width:25px;
  height:25px;
}
#u91 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u92 {
  position:absolute;
  left:268px;
  top:583px;
  width:43px;
  height:13px;
  font-size:10px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u94 {
  position:absolute;
  left:78px;
  top:532px;
  width:45px;
  height:45px;
}
#u95 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:33px;
}
#u96 {
  position:absolute;
  left:83px;
  top:538px;
  width:36px;
  height:33px;
}
#u97 {
  position:absolute;
  left:2px;
  top:8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u98 {
  position:absolute;
  left:283px;
  top:232px;
  width:43px;
  height:13px;
  font-size:10px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:453px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u100 {
  position:absolute;
  left:59px;
  top:180px;
  width:275px;
  height:453px;
  opacity:0.8;
}
#u101 {
  position:absolute;
  left:2px;
  top:218px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u102 {
  position:absolute;
  left:282px;
  top:529px;
  width:16px;
  height:16px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u103 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u104 {
  position:absolute;
  left:285px;
  top:299px;
  width:43px;
  height:13px;
  font-size:10px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:34px;
}
#u106 {
  position:absolute;
  left:290px;
  top:255px;
  width:29px;
  height:34px;
}
#u107 {
  position:absolute;
  left:2px;
  top:9px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:191px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u109 {
  position:absolute;
  left:81px;
  top:272px;
  width:231px;
  height:191px;
}
#u110 {
  position:absolute;
  left:2px;
  top:88px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:2px;
}
#u111 {
  position:absolute;
  left:81px;
  top:311px;
  width:231px;
  height:1px;
}
#u112 {
  position:absolute;
  left:2px;
  top:-8px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113 {
  position:absolute;
  left:167px;
  top:283px;
  width:59px;
  height:18px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:2px;
}
#u115 {
  position:absolute;
  left:81px;
  top:427px;
  width:231px;
  height:1px;
}
#u116 {
  position:absolute;
  left:2px;
  top:-8px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:37px;
}
#u117 {
  position:absolute;
  left:196px;
  top:427px;
  width:1px;
  height:36px;
}
#u118 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119 {
  position:absolute;
  left:119px;
  top:436px;
  width:30px;
  height:18px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CC00;
}
#u121 {
  position:absolute;
  left:242px;
  top:436px;
  width:30px;
  height:18px;
  color:#00CC00;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u123 {
  position:absolute;
  left:112px;
  top:369px;
  width:169px;
  height:14px;
  font-size:12px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u125 {
  position:absolute;
  left:176px;
  top:316px;
  width:41px;
  height:41px;
}
#u126 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u127 {
  position:absolute;
  left:182px;
  top:320px;
  width:29px;
  height:33px;
  font-size:28px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u129 {
  position:absolute;
  left:134px;
  top:392px;
  width:125px;
  height:28px;
  font-size:12px;
  color:#999999;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u131 {
  position:absolute;
  left:487px;
  top:445px;
  width:43px;
  height:50px;
}
#u132 {
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133 {
  position:absolute;
  left:499px;
  top:505px;
  width:30px;
  height:18px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:2px;
}
#u135 {
  position:absolute;
  left:272px;
  top:445px;
  width:399px;
  height:1px;
}
#u136 {
  position:absolute;
  left:2px;
  top:-8px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:205px;
}
#u137 {
  position:absolute;
  left:387px;
  top:209px;
  width:244px;
  height:205px;
}
#u138 {
  position:absolute;
  left:2px;
  top:88px;
  width:240px;
  word-wrap:break-word;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u139 {
  position:absolute;
  left:106px;
  top:51px;
  width:181px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:511px;
}
#u141 {
  position:absolute;
  left:671px;
  top:115px;
  width:275px;
  height:511px;
}
#u142 {
  position:absolute;
  left:2px;
  top:248px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:143px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143 {
  position:absolute;
  left:671px;
  top:484px;
  width:275px;
  height:143px;
}
#u144 {
  position:absolute;
  left:2px;
  top:64px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:347px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u145 {
  position:absolute;
  left:671px;
  top:137px;
  width:275px;
  height:347px;
}
#u146 {
  position:absolute;
  left:2px;
  top:166px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:36px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u147 {
  position:absolute;
  left:671px;
  top:137px;
  width:275px;
  height:36px;
}
#u148 {
  position:absolute;
  left:2px;
  top:10px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u149 {
  position:absolute;
  left:772px;
  top:144px;
  width:73px;
  height:18px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u151 {
  position:absolute;
  left:688px;
  top:146px;
  width:19px;
  height:16px;
}
#u152 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u153 {
  position:absolute;
  left:910px;
  top:145px;
  width:17px;
  height:17px;
}
#u154 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u155 {
  position:absolute;
  left:692px;
  top:577px;
  width:43px;
  height:13px;
  font-size:10px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u157 {
  position:absolute;
  left:897px;
  top:293px;
  width:43px;
  height:13px;
  font-size:10px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u159 {
  position:absolute;
  left:774px;
  top:507px;
  width:70px;
  height:70px;
}
#u160 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u161 {
  position:absolute;
  left:906px;
  top:190px;
  width:25px;
  height:25px;
}
#u162 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u163 {
  position:absolute;
  left:797px;
  top:578px;
  width:22px;
  height:13px;
  font-size:10px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:59px;
}
#u165 {
  position:absolute;
  left:779px;
  top:512px;
  width:59px;
  height:59px;
}
#u166 {
  position:absolute;
  left:2px;
  top:22px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:34px;
}
#u167 {
  position:absolute;
  left:902px;
  top:248px;
  width:29px;
  height:34px;
}
#u168 {
  position:absolute;
  left:2px;
  top:9px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u169 {
  position:absolute;
  left:877px;
  top:536px;
  width:25px;
  height:25px;
}
#u170 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u171 {
  position:absolute;
  left:902px;
  top:536px;
  width:25px;
  height:25px;
}
#u172 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u173 {
  position:absolute;
  left:880px;
  top:577px;
  width:43px;
  height:13px;
  font-size:10px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u175 {
  position:absolute;
  left:690px;
  top:526px;
  width:45px;
  height:45px;
}
#u176 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:33px;
}
#u177 {
  position:absolute;
  left:695px;
  top:532px;
  width:36px;
  height:33px;
}
#u178 {
  position:absolute;
  left:2px;
  top:8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u179 {
  position:absolute;
  left:895px;
  top:225px;
  width:43px;
  height:13px;
  font-size:10px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u181 {
  position:absolute;
  left:772px;
  top:46px;
  width:73px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u183 {
  position:absolute;
  left:894px;
  top:521px;
  width:16px;
  height:16px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u184 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
